.pending-page {
  ion-item {
    --background: #316dd0;

    h2 {
      font-weight: bold;
      font-size: 18px;
      padding-top: 2px;
      padding-left: 20px;
      color: #f8f8fa;
    }
  }

  ion-item:last-of-type {
    div {
      padding-bottom: 5px;
    }
    border-radius: 0 0 20% 20%;
  }

  ion-content {
    --background: #f8f8fa;
  }

  ion-searchbar {
    --box-shadow: none;
    --border-radius: 10px;
    opacity: 0.96;
    padding: 0;
    margin: 12px 0;
  }

  .more {
    font-size: 12px;
    color: #fb4e4e;
  }

  .title {
    font-size: 16px;
  }

  .card {
    margin: 0;
    margin-right: 50px;
    width: 80%;
    box-shadow: none;
    border-radius: 14px;
  }

  .category {
    width: 100%;
    box-shadow: none;
    border-radius: 14px;
  }

  ion-card-content {
    .img-wrapper {
      border-radius: 14px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 8px;
    }

    ion-icon {
      color: #f2994a;
      padding-right: 4px;
    }

    ion-card-subtitle:last-of-type {
      padding-top: 6px;
    }
  }

  ion-card-header {
    ion-icon {
      font-size: 60px;
    }

    ion-card-title {
      font-size: 22px;
      font-weight: bolder;
    }
  }

  .wrapper {
    padding-bottom: 0;
  }

  ion-badge {
    padding: 10px;
    font-size: 14px;
  }
}
